<main id="contact">
    <h1 class="lg-heading">
      Contact
      <span class="text-secondary">Me</span>
    </h1>
    <h2 class="sm-heading">
      This is how you can reach me
    </h2>
    <div class="boxes">
      <div>
          <span class="text-secondary">Email:</span> johndoe@gmail.com
      </div>

      <div>
          <span class="text-secondary">Phone:</span> 215-111-1111
      </div>

      <div>
          <span class="text-secondary">Address:</span> 123 Main Street
      </div>    
    </div>
  </main>

  <app-footer></app-footer>